name: golangci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  golangci:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.4"
          cache: false
      - name: Verify dependencies
        run: go mod verify
      - name: Vet
        run: go vet ./...
      - name: Linting
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.54
      - name: Build
        run: go build -v ./...
